html,body {
	padding: 0;
	margin: 0;
	min-height: 100%;
	height: 100%;
}
body {
	background-color: #CFDD83;

	font-family: "Lucida Console", Monaco, monospace;
	color: #000;
	position: relative;
}


h2 { font-size: 18px; margin: 40px 0; }
p { margin: 40px 0; }
.dynamo div { text-align: center; }
.nan { margin-left: 30px;}
li { list-style: hiragana; margin-bottom: 20px;}
a { color: #574843; text-decoration: none; }


@media (max-height: 700px) {
	header {
		bottom: 0 !important;	
		top: auto !important;
	}
}

@media (max-width: 999px) {
	header {
		position: relative;
		height: 250px;
		padding: 0;
		width: 100%;
	background-size: contain;

	}
	header h1 {
		padding-top: 40px;
		padding-left: 200px;
		font-size: 3em;
	}
	header nav {
		padding-left: 200px;
	}
	.container {
		padding: 40px;
		margin: 0;
		width: 100%;
	}
}

@media (min-width: 1000px) and (max-width: 1239px) {
	header {
		position: fixed;
		top: 40px;
		left: 660px;
		height: 500px;
		padding: 0;
		width: 340px;
		background-position: left bottom;
		background-size: 260px 333px;
	}

	header h1 {
		padding-left: 120px;
		font-size: 2em;
	}
	header nav {
		padding-left: 120px;
	}
	.container {
		padding: 40px;
		margin: 0 40px;
		width: 680px;
	}

}

@media (min-width: 1240px) {
	header {
		position: fixed;
		top: 200px;
		left: 640px;
		height: 400px;
		padding: 90px 0 0 270px;
		width: 610px;
		background-size: contain;
	}
	header h1 {
		font-size: 3em;
	}
	.container {
		padding: 40px;
		margin: 0 40px;
		width: 680px;
	}
}

header {
	text-align: center;
	color: #574843;

	background-image: url('../images/bird.svg');
	background-repeat: no-repeat;

	z-index: 9999;

	box-sizing: border-box;
}

header h1 {
	margin: 0;

}


footer {
	text-align: right;
	padding: 10px;
	background: rgba(255,255,255,0.2);
	color: #574843;
	margin-top: -40px;
	z-index: 9999;
	position: relative;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav li {
	display: inline;
}

.container {
	min-height: 760px;
	box-sizing: border-box;
	height: 100%;
	font-size: 12px;
	line-height: 18px;
	background: #fff;
	position: relative;
	
}

code {
	background: #000000;
	padding: 3px;
}


pre {
	display: block;
	font-family: "Lucida Console", Monaco, monospace;
}

.value {
	color: #080;
}

a {
	border: none;
	cursor: pointer;
	color: inherit !important;
	text-decoration: none;
	border-bottom: 1px solid #080;
}

#content {
	position: absolute;
}

.item {
	line-height: 20px;
}



